<%= form_for @answer do |f| %>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Favorites:
    <ul>
      <%= render partial: "check_box", locals: {form: f, field_name: :chocolate} %>
      <%= render partial: "check_box", locals: {form: f, field_name: :rainbows} %>
      <%= render partial: "check_box", locals: {form: f, field_name: :puppies} %>
      <%= render partial: "check_box", locals: {form: f, field_name: :cold_hard_cash} %>
    </ul>
  </div>
  <%= f.submit, onclick: "disable-me()" %>
<% end %>
